@import url('https://fonts.googleapis.com/css2?family=Pinyon+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Pinyon+Script&display=swap');

:root {

    /* VARIABLES */

    /* Typography */
  --headingFont: 'Pinyon Script', serif;
  --bodyFont: 'Bodoni', sans-serif;

  --baseFontSize: clamp(0.875rem, 0.7885rem + 0.3846vw, 1.25rem);

  --type-scale: 1.8;
}
html {
    font-size: var(--baseFontSize);
    scroll-behavior: smooth;
    font-family: var(--bodyFont);
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: var(--headingFont);
    margin-bottom: var(--space-3);
  }  
main {
    width: 90vw;
    margin: 0 auto;
  }

.maingrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    }

    figure {
        padding:0;
        margin:1rem 0 1rem 0;
      }